<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>touch_mouse_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{60,44}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>touch_mouse_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{60,44}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>touch_mouse_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{60,44}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>touch_mouse_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{60,44}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>touch_mouse_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{60,44}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>touch_mouse_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{60,44}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>touch_mouse_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,64},{70,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,7},{70,48}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>touch_mouse_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{70,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,7},{70,48}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>touch_mouse_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{70,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,7},{70,48}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>touch_mouse_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{78,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{78,52}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>touch_mouse_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{78,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{78,52}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>touch_mouse_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{78,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{78,52}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>touch_mouse_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>touch_mouse_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>touch_mouse_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{96,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{96,58}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>touch_mouse_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{96,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{96,58}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>touch_mouse_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,62},{92,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{92,56}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>touch_mouse_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,62},{92,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{92,56}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>touch_mouse_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,82},{88,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{88,56}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>touch_mouse_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,82},{88,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{88,56}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>touch_mouse_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,120},{84,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{84,54}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>touch_mouse_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,120},{84,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{84,54}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>touch_mouse_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,120},{84,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{84,54}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>touch_mouse_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,120},{84,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{84,54}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>touch_mouse.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e75b8ea59333d70dcd44f6256f13acf:1cbc5e62fad47f6bfe2ad5cbf2f0970e:2cd23eaa94d71a5ebcb14ebe480a8c03$</string>
            <key>textureFileName</key>
            <string>touch_mouse.png</string>
        </dict>
    </dict>
</plist>
