<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blood_bottle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,149},{161,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,145}}</string>
                <key>sourceSize</key>
                <string>{161,145}</string>
            </dict>
            <key>blood_bottle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,2},{161,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,145}}</string>
                <key>sourceSize</key>
                <string>{161,145}</string>
            </dict>
            <key>hero_01_head_btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,456},{160,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,158}}</string>
                <key>sourceSize</key>
                <string>{160,158}</string>
            </dict>
            <key>hero_01_head_btn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,296},{160,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,158}}</string>
                <key>sourceSize</key>
                <string>{160,158}</string>
            </dict>
            <key>hero_01_tag_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1346},{280,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,185}}</string>
                <key>sourceSize</key>
                <string>{280,185}</string>
            </dict>
            <key>hero_01_tag_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1064},{280,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,185}}</string>
                <key>sourceSize</key>
                <string>{280,185}</string>
            </dict>
            <key>hero_02_tag_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1839},{280,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,185}}</string>
                <key>sourceSize</key>
                <string>{280,185}</string>
            </dict>
            <key>hero_02_tag_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1557},{280,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,185}}</string>
                <key>sourceSize</key>
                <string>{280,185}</string>
            </dict>
            <key>hero_03_tag_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1839},{280,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,185}}</string>
                <key>sourceSize</key>
                <string>{280,185}</string>
            </dict>
            <key>hero_03_tag_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1557},{280,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,185}}</string>
                <key>sourceSize</key>
                <string>{280,185}</string>
            </dict>
            <key>hero_blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1886},{138,140}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{138,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hero_blood_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1744},{138,140}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{138,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hero_btn_common_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1533},{221,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,98}}</string>
                <key>sourceSize</key>
                <string>{221,98}</string>
            </dict>
            <key>hero_btn_common_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1064},{221,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,98}}</string>
                <key>sourceSize</key>
                <string>{221,98}</string>
            </dict>
            <key>hero_close_btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1208},{90,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,104}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>hero_close_btn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1919},{90,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,104}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>hero_current_hero_01_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1064},{326,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,491}}</string>
                <key>sourceSize</key>
                <string>{326,491}</string>
            </dict>
            <key>hero_mainBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{799,1060}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{799,1060}}</string>
                <key>sourceSize</key>
                <string>{799,1060}</string>
            </dict>
            <key>hero_portrait_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1685},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hero_portrait_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1533},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hero_portrait_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,616},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hero_secondBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{699,1060}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{699,1060}}</string>
                <key>sourceSize</key>
                <string>{699,1060}</string>
            </dict>
            <key>hero_sell_btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1756},{80,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,86}}</string>
                <key>sourceSize</key>
                <string>{80,86}</string>
            </dict>
            <key>hero_sell_btn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1756},{80,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,86}}</string>
                <key>sourceSize</key>
                <string>{80,86}</string>
            </dict>
            <key>hero_xp.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1602},{138,140}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{138,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hero_xp_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1744},{138,140}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{138,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>info_bak_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1064},{276,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,85}}</string>
                <key>sourceSize</key>
                <string>{276,85}</string>
            </dict>
            <key>info_bak_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1919},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>info_crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1685},{76,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,69}}</string>
                <key>sourceSize</key>
                <string>{76,69}</string>
            </dict>
            <key>info_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1287},{54,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,78}}</string>
                <key>sourceSize</key>
                <string>{54,78}</string>
            </dict>
            <key>info_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1981},{74,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,64}}</string>
                <key>sourceSize</key>
                <string>{74,64}</string>
            </dict>
            <key>info_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1208},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>pause_btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,843},{66,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,73}}</string>
                <key>sourceSize</key>
                <string>{66,73}</string>
            </dict>
            <key>pause_btn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,768},{66,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,73}}</string>
                <key>sourceSize</key>
                <string>{66,73}</string>
            </dict>
            <key>skill_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1458},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>skill_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1314},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>skill_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1064},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>skill_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1775},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>skill_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1631},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>skill_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1837},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>skill_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1487},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>skill_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1343},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51f7ecf5beb89e150a3367c6c634502f:d19053de70b171f2366e802c7169cee4:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
